body {color: #1b2f33; font-size: larger;background-color: #f7ebe8;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    background-image: url(./img/receta.png); background-size: 200px;}
h1{text-align: center; text-decoration:underline;}
h3{text-align: left; text-decoration: underline;}
.pasos{text-align: justify;}
.texto{background-color: #f7ebe8;}
footer{text-align: center;}
nav{text-align: right;}
#flotante{position: fixed; top: 75%; right: 1%; width: 70px; height: 70px;}